doctype html
html 
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width initial-scale=1 shrink-to-fit=no")
    link(rel="stylesheet", href=`css/layout.css`)
    link(rel="stylesheet", href=`css/${css}.css`)
    link(rel="icon", type="image/jpeg", href="assets/site-icon.jpg")
    title= title
    script(src="//widget.manychat.com/103309116163139.js" defer="defer")
    script(src="https://mccdn.me/assets/js/widget.js" defer="defer")
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-R435M1NTMZ")
    script window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-R435M1NTMZ');
  body 
    block content
