extends layout 
block content
  .wrap
    h1 Privacy Policy
    h2 Introduction
    p Welcome to Fundsify ("we," "us," or "our"). This Privacy Policy outlines our commitment to protecting the privacy and confidentiality of the personal information we collect and process in the course of our operations. By accessing our website or using our services, you consent to the practices described in this policy.
    
    h2 Information We Collect
    h3 1. Personal Information 
    ul 
      li #[h4 Contact Information]: Names, addresses, phone numbers, and email addresses.
      li #[h4 Identification Information]: Government-issued identification numbers, such as social security or national identification numbers.
      li #[h4 Financial Information]: Bank account details for processing emergency fund transactions.
      li #[h4 Verification Documents]: Documents submitted during the application process for the purpose of verifying the legitimacy of emergency requests.

    h3 2. Automatically Collected Information
    p We may also collect information automatically when you visit our website, such as:
    ul 
      li Log Data: Information about your device, IP address, browser type, and operating system.
      li Cookies: For more information, please refer to our Cookie Policy.
    
    h2 How We Use Your Information
    p We use the information we collect for the following purposes:
    ul 
      li #[h4 Verification]: To authenticate and verify the legitimacy of emergency fund applications
      li #[h4 Communication]: To respond to inquiries, provide updates on applications, and communicate important information.
      li #[h4 Improvement]: To enhance our services and website based on user feedback and needs.
      li #[h4 Legal Compliance]: To comply with applicable laws and regulations.

    h2 Sharing of Information
    p We do not sell, trade, or otherwise transfer your personal information to third parties without your consent, except as described in this Privacy Policy or when required by law.
    ul 
      li #[h4 Service Providers]: We may share your information with third-party service providers who assist us in operating our website and providing our services.

    h2 Security
    p We implement reasonable security measures to protect the confidentiality and integrity of your personal information. However, no data transmission over the internet is completely secure, and we cannot guarantee the security of information transmitted to or from our website.

    h2 Your Choices 
    p You have the right to:
    ul 
      li #[h4 Access]: Request access to the personal information we hold about you.
      li #[h4 Correction]: Request correction of inaccuracies in your personal information.
      li #[h4 Deletion]: Request the deletion of your personal information.
    p To exercise this right please contact us

    h2 Changes to this privacy policy 
    p We may update this Privacy Policy from time to time. Any changes will be effective immediately upon posting on our website. We encourage you to review this policy periodically for the latest information on our privacy practices.

    h2 Contact US 
    p If you have any questions, concerns, or requests regarding this Privacy Policy, please contact us at #[h4 support@fundsify.net]